
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.menu {
    width: 10vh;
    height: 100vh;  
    background-color: rgb(26, 26, 26);
    position: fixed;
    padding-top: 2vh;
    z-index: 2;
}
.player-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-icon{
 width: 8vh;
 height: 8vh;
 opacity: 0.7;
 border-radius: 50%;
 margin-bottom: 2vh;
 transition: all 0.3s ease;
 cursor: pointer;
}
.player-icon:hover{
    transform: scale(1.2);
    opacity: 1;
}
.info-panel{
    display: flex;
    background-color: rgba(95, 95, 95, 0.5);
    position: fixed;
    top: -4000px;
    right: 0;
    height: 100vh;
    width: 30vh;
    transition: top 0.5s ease;
    z-index: 1;
    padding: 5vh;
    justify-content: center;
    align-items: center;
}
.characterContainer {
    position: fixed;
    z-index: -3;
    left: 10vh;
    right: 40vh;
}

#characterImage {
    height: 100%;
    width: 100%;
}

